<div class="container">


  <div class="well col-md-8 col-md-offset-2">
<%= simple_form_for @product do |f| %>
  <%= f.input :name, label: 'Product name' %>
  <%= f.input :description, label: 'Product Description', as: :text %>
  <%= f.input :price, label: 'Product Price', as: :decimal %>
  <%= f.input :image, as: :file, label: 'Product Image' %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>
</div>
</div>